
<ul class="nav nav-tabs nav-justified anime-tag" role="tablist">
    <li class="nav-item ">
      <a class="nav-link bg-secondary text-white" href="/">トップ</a>
    </li>
    <li class="nav-item anime-tag">
      <a class="nav-link bg-danger text-white activate" href="/anime/index">アニメ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-warning text-white" href="/game/index">game</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success text-white" href="/economy/index">経済</a>
    </li>

    <li class="nav-item">
      <a class="nav-link bg-primary text-white "href="/technology/index">Technology</a>
    </li>
  </ul>




<!-- サムネイル表示場所-->

  <div class="row justify-content-between">
  

  <div class="item mt-3 col-md-3 offset-1 thum">
    <a href=<%= @items[1].link %> target="_blank" title=<%= @items[1].title %>>
    <img src=<%= "http://capture.heartrails.com/?" + @items[1].link%>>
    </a>
    <p><%= @items[1].title %></p>
  </div>
  
  <div class="item mt-3 col-md-3 offset-1 thum">
    <a href=<%= @items[2].link %> target="_blank" title=<%= @items[2].title %>>
    <img src=<%= "http://capture.heartrails.com/?" + @items[2].link%>>
    </a>
    <p><%= @items[2].title %></p>
  </div>
  
 <div class="item mt-3 col-md-3 offset-1 thum">
    <a href=<%= @items[3].link %> target="_blank" title=<%= @items[3].title %>>
    <img src=<%= "http://capture.heartrails.com/?" + @items[3].link%>>
    </a>
    <p><%= @items[3].title %></p>
  </div>